body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2a2a4f);
    color: white;
    margin: 0;
    /* overflow:hidden */
}

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    margin: 0;
}

.container {
    background: #2f2f5f;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff4c60;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ff2e4a;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #ff2e4a;
}
