/* CHAT CONTAINER */

.chat-container{
    flex: 1;
    display:flex;
    margin-left:7px;
    padding:20px;
    gap: 15px;
    height: calc(100vh - 80px)
    
}

/* CHAT LIST */

.chat-menu{
    width:320px;
    background:#2f2f5f;
    border-radius:10px;
    padding:10px;
    overflow-y:auto;
}


/* CHAT USER */

.chat-user{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    text-decoration:none;
    color:white;
    margin-bottom:10px;
    transition: 0.2s;
}

.chat-user img{
    width:40px;
    height:40px;
    border-radius:50%;
}

.chat-user:hover{
    background:#4444aa;
}

  .chat-user.active{
    background:#4444aa;
}


/* TEXT */

.chat-name{
    font-weight:bold;
}

.last-msg{
    font-size:13px;
    opacity:0.7;
    margin:0;
}

/* CONVERSATION PANEL */

.conversation-panel{
    flex:1;
    display:flex;
    flex-direction:column;
    background:#2f2f5f;
    border-radius:10px;
    overflow:hidden; 
}

/* HEADER */

.conversation-header{
    display:flex;
    align-items:center;
    gap:10px;
    padding:15px;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

.conversation-header img{
    width:40px;
    height:40px;
    border-radius:50%;
}

/* MESSAGE AREA */

.messages{
    flex:1;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
    overflow-y:auto;
    scroll-behavior:smooth;
}

/* MESSAGE STYLE */

.msg{
    padding:10px 14px;
    border-radius:16px;
    max-width:70%;
    width:fit-content;
    font-size:14px;
    word-wrap:break-word;
}





/* OTHER PERSON */

.msg.other{
    background:#4444aa;
}

/* CURRENT USER */

.msg.me{
    background:#6a6aff;
    align-self:flex-end;
}




/* TYPE BAR */

.typebar{
    display:flex;
    align-items:center;
    gap:6px;
    padding:8px 10px;
    margin:10px;
    background:#1e1e2f;
    border-radius:25px;
    border-top: none
}

/* INPUT */

.typebar input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    color:white;
    font-size:14px;
}

/* RIGHT SIDE BUTTONS */

 .type-actions{
    display:flex;
    gap:6px;
} 

/* ICON BUTTON */

#recordBtn, #sendBtn, #loadBtn{
    border:none;
    background: none;
    color:white;
    border-radius:10px;
    padding:8px;
    cursor:pointer;
    transition:0.2s;
    font-size: 14px;
} 




/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 1024px) {
    .chat-menu {
        width: 250px;
    }
}

/* Mobile */
@media (max-width: 768px) {

    .chat-container {
        flex-direction: column;
        padding: 10px;
        margin-left: 0;   /* 🔥 IMPORTANT */
    }

    .chat-menu {
        width: 100%;
        height: 200px;
    }

    .conversation-panel {
        width: 100%;
        height: calc(100vh - 260px);
    }
}

