.story-view::after {
    content: "";
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent 30%, transparent 70%, rgba(0,0,0,0.6));
    pointer-events: none
}

.menu-btn,
.pause-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-btn:hover,
.pause-btn:hover {
    transform: scale(1.1);
}

/* AVATAR */
.story-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* USER TEXT */
.story-user {
    display: flex;
    flex-direction: column;
}

.story-username {
    font-size: 14px;
    font-weight: bold;
}

.story-time {
    font-size: 12px;
    opacity: 0.6;
}


/* THREE DOT BUTTON */
.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* SHOW MENU */
.menu-dropdown.active {
    display: flex;
}


/* hover effect */
.menu-item:hover {
    background: white;     
    color: black;          
}

.modal-card input,
.modal-card textarea {
    width:100%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-radius:8px;
    background:#1e1e2f;
    color:white;
}

.modal-actions {
    display:flex;
    justify-content:space-between;
}

.modal-actions button {
    padding:8px 12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#saveHighlight {
    background:#6a6aff;
    color:white;
}

#closeModal {
    background:#444;
    color:white;
}

/* POSTS SECTION */
.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;                /* ✅ spacing between posts */
  margin-top: 10px;
}

/* EACH POST */
.post-item {
  width: 100%;
  aspect-ratio: 1 / 1;     /* perfect square */
  overflow: hidden;
  border-radius: 10px;     /* ✅ rounded corners */
  background: #2f2f5f;     /* fallback color */
  transition: transform 0.2s ease;
}

/* IMAGE */
.post-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;       /* ✅ prevents stretching */
}

/* HOVER EFFECT (optional but nice) */
.post-item:hover {
  transform: scale(0.97);
}


.profile-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#searchInput {
  width: 60%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #2f2f5f;
  color: white;
}

.menu-wrapper {
  position: relative;
}

#menuBtn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  background: #2f2f5f;
  border-radius: 10px;
  display: none;
  flex-direction: column;
}

.menu-dropdown.active {
  display: flex;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background: white;
  color: black;
}

.content-section {
  display: none;
  margin-top: 15px;
}

.content-section.active {
  display: block;
}
