* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2a2a4f);
    color: white;
    margin: 0;
    overflow-x: hidden;
    
}


/* ...................chat and home page sidebar top bar......... */

/* ..SIDEBAR ......*/

.sidebar{
    width:220px;
    height: 100vh;
    background:#2f2f5f;
    padding:20px;
    position:fixed;
    display:flex;
    flex-direction:column; 
    gap:10px;
    left:0;
    top:0;
}

.logo{
    margin-bottom:20px;
    text-align:center;
    font-size: 24px;
}

/* SIDEBAR BUTTON */

.nav-btn{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px;
    background:none;
    border:none;
    color:white;
    font-size:16px;
    cursor:pointer;
    border-radius:8px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-btn:hover{
    background:#4444aa;
    transform: translateX(5px);
}

.nav-btn.active {
    background: #4444aa;
    border-left: 4px solid #6a6aff;
}

.nav-btn i {
    width: 20px;
    text-align: center;
}

.sidebar-footer {
    margin-top: auto;
    /* padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); */
} 

/* .......... MAIN AREA ..................*/

.main-area{
    margin-left:230px;
    flex: 1;
    display:flex;
    flex-direction:column;
    padding: 20px;
    margin-top:70px;
    background: transparent;
}

/*.................. TOPBAR ..................*/

.topbar{
    position: fixed;
    top: 5px;                  
    height:60px;
    background:transparent;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 30px;
    z-index: 50;
}

.topbar-inner{
    width: 100%;
    margin: 10px 10px;        
    padding: 10px 10px;
    background: #2f2f5f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top-actions{
display:flex;
align-items:center;
gap:15px;   /* small space like Instagram */
}

/* SEARCH */

.search{
    width:300px;
    padding:12px 20px;
    border-radius:25px;
    border:none;
    background: #1e1e2f;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease;
}

.search:focus {
    outline: none;
    box-shadow: 0 0 0 2px #6a6aff;
}

/* ICON BUTTON */

.icon-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    padding:6px;
    border-radius:50%;
    width: 36px;
    height: 36px;
    transition: 0.2s;
}

.icon-btn:hover{
    background: rgba(255,255,255,0.1);
}

.icon-btn i{
    font-size:20px;
}


/* .................RESPONSIVE SIDE BAR............... */

/* Tablet */
@media (max-width: 1024px) {
    .sidebar {
        width: 70px;
        padding: 10px;
    }

    .sidebar span {
        display: none; /* hide text */
    }
}

/* Mobile */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

