/* REMOVE LOGO FROM SIDEBAR ON SMALL SCREEN */

@media (max-width: 1024px) {
    .logo {
        display: none;
    }
}

/* SHOW TOP LOGO ONLY ON SMALL SCREEN */

.top-logo {
    display: none;
    font-size: 20px;
}

@media (max-width: 1024px) {
    .top-logo {
        display: block;
    }
}

/* MAKE SIDEBAR ICON ONLY */

@media (max-width: 1024px) {
    .sidebar {
        width: 70px;
        padding: 10px;
    }

    .nav-btn span {
        display: none;   /* remove text */
    }
}

/* ALIGN TOPBAR PROPERLY */

.topbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-left {
    display: flex;
    align-items: center;
}


/* .................RESPONSIVE TOP BAR............... */

@media (max-width: 768px) {
    .topbar {
        left: 0;
        padding: 10px;
    }

    .search {
        width: 150px;
    }
}

/*.................... FIXING THE CHATS.................. */

/* Tablet */
@media (max-width: 1024px) {
    .chat-menu {
        width: 250px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .chat-container {
        flex-direction: column;
        padding: 10px;
    }

    .chat-menu {
        width: 100%;
        height: 200px;
    }

    .conversation-panel {
        width: 100%;
        height: calc(100vh - 250px);
    }
}

/*.................... FIXING THE POSTS.................. */

@media (max-width: 768px) {
    .main-feed {
        transform: none;
        padding: 0 10px;
    }

    .post {
        padding: 15px;
    }

    .post-img {
        max-height: 250px;
    }
}

/* ......................FIX NOTIFICATION PANEL................ */

@media (max-width: 768px) {
    #notifPanel {
        width: 100%;
    }
}

/*.................... CONVERSATION FOR MOBILE .................... */

@media (max-width: 768px) {
    .chat-menu.hidden {
        display: none;
    }

    .conversation-panel.full {
        height: 100vh;
    }
}




@media (max-width: 1024px) {
    .sidebar .logo {
        display: none !important;
    }

    .sidebar .nav-btn span {
        display: none !important;
    }
}